.bpw-layout {
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    z-index: 9999;
}

.bpw-header-title {
    color: red;
}

.bpw-from-bot .bpw-chat-bubble .bpw-chat-bubble-content {
    color: blue;
    background-color: #007bff;
}

.bpw-header-icon:hover {
    fill: yellow;
}

.bpw-header-container {
    border: none;
    background-color: #007bff;
    border-radius: 5px 5px 0 0;
}

.bpw-header-title-container .bpw-bot-avatar {
    display: none;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content {
    background-color: #f0f0f0;
    border-radius: 5px;
}
